<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary" >
    <h1>Todo List ({{itemCount}})</h1>
  </ion-text>
  <ion-input type="text" name="newItem" placeholder="New item"
  [(ngModel)]="newItem"></ion-input>
  <ion-button expand="block" (click)="addItem()">Add item</ion-button>
  <ion-list *ngFor="let item of items; index as i">
    <ion-item>{{item}}
      <ion-icon name="trash" (click)="removeItem(i)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
